<nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flex">


    <a class="navbar-brand align-items-center d-flex" href="#">

        <img class="image-fluid d-inline-block align-top"
            src="https://angular.io/assets/images/logos/angular/logo-nav@2x.png" alt="angular-logo">
        <div class="ml-2 pl-2 " id="brand-title">{{brandTitle}}</div>
    </a>
    <div>
        <ul class="nav navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" routerLink="">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="contact">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="blog">Blog</a>
            </li>
        </ul>
    </div>
</nav>