<!-- 
<div class="container border rounded mb-2">
    <div class="media m-1 p-1">
        <div class="media-left align-self-start m-1 p-1">
            <img [src]="this.newPost.getAvatar()" alt="random-picture">
        </div>
        <div class="media-body">
            <h4 class="media-heading">{{this.newPost.getHeading()}}
            </h4>
            <p>
                {{this.newPost.getBody()}}
            </p>
        </div>
    </div>
</div>
<div class="container border rounded mb-2">
    <div class="media m-1 p-1">
        <div class="media-body">
            <h4 class="media-heading">Right aligned
            </h4>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium, commodi ex voluptatum voluptatibus laborum iusto, culpa saepe est error nesciunt excepturi ipsum expedita, labore sed porro. Aliquid numquam quia saepe.
            </p>
        </div>
        <div class="media-right align-self-start m-1 p-1">
            <img src="https://picsum.photos/81" alt="another-random-picture">
        </div>
    </div>
</div> -->