<div class="container">
    <div class="row">
        <div class="col">
            <h1>{{projectTitle}}</h1>
            <p>{{projectText}} 
                <span class="badge badge-light">{{badgeText}}</span>
            </p>
            <button class="btn btn-warning m-3" routerLink="blog">Blog</button>
            <button class="btn btn-primary m-3 " routerLink="contact">Contact</button>
            <img [src]="projectImage" class="d-block align-item-center" alt="">
        </div>
    </div>
</div>