<!-- <div class="border border-warning rounded d-flex align-items-center py-1 mb-2">
    <a href="#" class="d-flex align-items-center">
        <img class="img-fluid rounded-circle mx-3" [src]="messageAvatar" alt="random-profile-picture">
        <div class="message-body">
            <h3 class="my-0">{{author}}</h3>
            <p class="my-0">{{messageBody}}</p>
        </div>
    </a>
</div> -->
<!-- <div class="border border-warning rounded d-flex align-items-center py-1 mb-2">
    <a href="#" class="d-flex align-items-center">
        <img class="img-fluid rounded-circle mx-3" [src]="this.aNewMessage.getMessageAvatar()"
            alt="random-profile-picture">
        <div class="message-body">
            <h3 class="my-0">{{this.aNewMessage.getAuthor()}}</h3>
            <p class="my-0">{{this.aNewMessage.getMessageBody()}}</p>
        </div>
    </a>
</div> -->
<!-- *ngFor komt in het hoogste element dat messages aanspreekt; hier beter dan op app-message (slechts 1 div > a dan?)
dat zie je ook als ze allemaal een border hebben -->
<div *ngFor="let message of messages" class="border border-warning rounded d-flex align-items-center py-1 mb-2">
    <!-- <a href="#" class="d-flex align-items-center"> -->
        <img class="img-fluid rounded-circle mx-3" [src]="message.getMessageAvatar()" alt="random-profile-picture">
        <div class="message-body">
            <h3 class="my-0">{{message.getAuthor()}}</h3>
            <p class="my-0">{{message.getMessageBody()}}</p>
        </div>
    <!-- </a> -->
</div>
