.container-fluid {
    background-color: rgb(29, 29, 61);
}
.row {
    height: 700px;
    width: 100%;
    
}

.col-4 {
    align-content: center;
    justify-content: flex-start;
    color: wheat ;
}
.col-8 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}