<div class="container-fluid">
    <div class="row">
      <div class="col-8">
        <app-intro></app-intro>
      </div>
      <div class="col-4 border-left">
        <aside>
          <app-aside></app-aside>
        </aside>
      </div>
    </div>
  </div>
  